www/public/wsdl.xml

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ExchangeOfSite" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="ExchangeOfSite" name="ExchangeOfSite" targetNamespace="ExchangeOfSite">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="ExchangeOfSite" targetNamespace="ExchangeOfSite" attributeFormDefault="unqualified" elementFormDefault="qualified">
            <xs:complexType name="ArrayOfDate">
                <xs:sequence>
                    <xs:element name="Value" type="xs:date" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfNumber">
                <xs:sequence>
                    <xs:element name="Value" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfObject">
                <xs:sequence>
                    <xs:element name="Value" type="tns:Object_NameID" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfTime">
                <xs:sequence>
                    <xs:element name="Value" type="xs:time" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Balance">
                <xs:sequence>
                    <xs:element name="Good" type="xs:string" nillable="true"/>
                    <xs:element name="ShopsAndCount" type="xs:string" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Client">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="FullName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ClientCode" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Ownership" type="xs:string" minOccurs="0"/>
                    <xs:element name="INN" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="KPP" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="LegalAddress" type="xs:string" minOccurs="0"/>
                    <xs:element name="AktualAddress" type="xs:string" minOccurs="0"/>
                    <xs:element name="Phone" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Email" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="BankBik" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="SettlementAccount" type="xs:string" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientData">
                <xs:sequence>
                    <xs:element name="ClientCode" type="xs:string"/>
                    <xs:element name="Sum" type="xs:double" nillable="true"/>
                    <xs:element name="Currency" type="xs:string"/>
                    <xs:element name="ContractNumber" type="xs:string"/>
                    <xs:element name="ContractOwner" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientDebt">
                <xs:sequence>
                    <xs:element name="Organization" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="ObjectCalculated" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="AmountDebt" type="xs:double" nillable="true" minOccurs="0"/>
                    <xs:element name="AmountОverdueDebt" type="xs:double" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CurrentBalances">
                <xs:sequence>
                    <xs:element name="Balances" type="tns:Balance" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="DeliveryTypes">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Paid"/>
                    <xs:enumeration value="Free"/>
                    <xs:enumeration value="FreeToTheRegion"/>
                    <xs:enumeration value="PaidToTheRegion"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Good">
                <xs:sequence>
                    <xs:element name="Number" type="xs:int"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="UnitOfMeasurement" type="xs:string"/>
                    <xs:element name="Count" type="xs:int"/>
                    <xs:element name="Price" type="xs:double"/>
                    <xs:element name="Sum" type="xs:double"/>
                    <xs:element name="SumNDS" type="xs:double" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GoodOrder">
                <xs:sequence>
                    <xs:element name="Number" type="xs:int"/>
                    <xs:element name="Code" type="xs:string"/>
                    <xs:element name="Count" type="xs:int"/>
                    <xs:element name="Shop" type="xs:string"/>
                    <xs:element name="UnderOrder" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Price" type="xs:double" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>
                    <xs:element name="Organization" type="xs:string"/>
                    <xs:element name="Contractor" type="xs:string"/>
                    <xs:element name="Buyer" type="xs:string"/>
                    <xs:element name="BankBik" type="xs:string"/>
                    <xs:element name="BankName" type="xs:string"/>
                    <xs:element name="SettlementAccount" type="xs:string"/>
                    <xs:element name="CorrespondentAccount" type="xs:string"/>
                    <xs:element name="AccountNumber" type="xs:string"/>
                    <xs:element name="SumNDS" type="xs:double"/>
                    <xs:element name="Sum" type="xs:double"/>
                    <xs:element name="SumInWords" type="xs:string"/>
                    <xs:element name="Volume" type="xs:string"/>
                    <xs:element name="Goods" type="tns:Good" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListCancelOrders">
                <xs:sequence>
                    <xs:element name="Number" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListClientDebt">
                <xs:sequence>
                    <xs:element name="ClientDebt" type="tns:ClientDebt" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOfClientData">
                <xs:sequence>
                    <xs:element name="ClientData" type="tns:ClientData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOrders">
                <xs:sequence>
                    <xs:element name="Order" type="tns:OrderList" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListSearchOrdersResult">
                <xs:sequence>
                    <xs:element name="SearchOrder" type="tns:SearchOrdersResult" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Object_NameID">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="ID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element name="PaymentForm" type="tns:PaymentForms" minOccurs="0"/>
                    <xs:element name="CreateReserve" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="CreateInvoice" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Delivery" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Client" type="tns:Client" minOccurs="0"/>
                    <xs:element name="Shop" type="xs:string" minOccurs="0"/>
                    <xs:element name="DeliveryDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="AddressDelivery" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Phone" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Comment" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="CommentDelivery" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="EndDateReserve" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="Goods" type="tns:GoodOrder" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="DeliveryType" type="tns:DeliveryTypes" nillable="true" minOccurs="0"/>
                    <xs:element name="Region" type="xs:string" minOccurs="0"/>
                    <xs:element name="PhoneForSMS" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="NumberOrder" type="xs:string" minOccurs="0"/>
                    <xs:element name="PointOfDestination" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderData">
                <xs:sequence>
                    <xs:element name="Number" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Sum" type="xs:double" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderStatus" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="PaymentStatus" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="InvoiceNumber" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="EndDateReserve" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientCode" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Phone" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientName" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Store" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Delivery" type="xs:boolean" nillable="true" minOccurs="0"/>
                    <xs:element name="NumberTTN" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="DeliveryAddress" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="DeliveryDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientDeliveryDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="Goods" type="tns:Good" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="CommentClient" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="MovingComment" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="PaymentForm" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientEmail" type="xs:string" nillable="true"/>
                    <xs:element name="CreditOrder" type="xs:boolean" nillable="true" minOccurs="0"/>
                    <xs:element name="IDBankCredit" type="xs:integer" nillable="true" minOccurs="0"/>
                    <xs:element name="IDCreditProgram" type="xs:integer" nillable="true" minOccurs="0"/>
                    <xs:element name="CreditApproved" type="xs:boolean" nillable="true" minOccurs="0"/>
                    <xs:element name="StoreID" type="xs:integer" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderList">
                <xs:sequence>
                    <xs:element name="Number" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Sum" type="xs:double" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderStatus" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="PaymentStatus" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="InvoiceNumber" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="EndDateReserve" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="Store" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Delivery" type="xs:boolean" nillable="true" minOccurs="0"/>
                    <xs:element name="NumberTTN" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="DeliveryAddress" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="DeliveryDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientDeliveryDate" type="xs:date" nillable="true" minOccurs="0"/>
                    <xs:element name="CommentClient" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="MovingComment" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="SalesNumbers" type="tns:SaleNumber" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderTable">
                <xs:sequence>
                    <xs:element name="OrdersData" type="tns:OrderData" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrdersByVendorList">
                <xs:sequence>
                    <xs:element name="OrderNumber" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Ownerships">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                    <xs:enumeration value="Entity"/>
                    <xs:enumeration value="Phisical"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PaymentForms">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                    <xs:enumeration value="Cash"/>
                    <xs:enumeration value="Clearing"/>
                    <xs:enumeration value="PaymentCards"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="RemnantsGoods">
                <xs:sequence>
                    <xs:element name="Remnants" type="xs:base64Binary" nillable="true" minOccurs="0"/>
                    <xs:element name="RemnantsB2B" type="xs:base64Binary" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element name="Successfully" type="xs:boolean"/>
                    <xs:element name="DescriptionErrors" type="xs:string"/>
                    <xs:element name="Invoice" type="tns:Invoice" nillable="true" minOccurs="0"/>
                    <xs:element name="IsAvailableNow" type="xs:boolean" nillable="true" minOccurs="0"/>
                    <xs:element name="Shop" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderNumber" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Goods" type="tns:GoodOrder" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Result">
                <xs:sequence>
                    <xs:element name="Status" type="xs:boolean"/>
                    <xs:element name="ErrorCode" type="xs:integer"/>
                    <xs:element name="Comment" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultStorageInfo">
                <xs:sequence>
                    <xs:element name="Status" type="xs:boolean"/>
                    <xs:element name="ErrorCode" type="xs:integer"/>
                    <xs:element name="Comment" type="xs:string" minOccurs="0"/>
                    <xs:element name="OwnerShopName" type="xs:string" minOccurs="0"/>
                    <xs:element name="OwnerShopID" type="xs:integer" minOccurs="0"/>
                    <xs:element name="Date" type="xs:date" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SaleNumber">
                <xs:sequence>
                    <xs:element name="Number" type="xs:string" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchOrdersResult">
                <xs:sequence>
                    <xs:element name="NumberOrder" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="ClientName" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Comment" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Shop" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="Date" type="xs:date" nillable="true"/>
                    <xs:element name="ClientCode" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="OrderType" type="xs:string" nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceData">
                <xs:sequence>
                    <xs:element name="ShopName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ShopID" type="xs:string"/>
                    <xs:element name="Date" type="xs:date"/>
                    <xs:element name="Time" type="xs:time"/>
                    <xs:element name="TypeName" type="xs:string" minOccurs="0"/>
                    <xs:element name="TypeID" type="xs:string"/>
                    <xs:element name="ClientName" type="xs:string"/>
                    <xs:element name="ClientFone" type="xs:string"/>
                    <xs:element name="CarMake" type="xs:string"/>
                    <xs:element name="CarModel" type="xs:string"/>
                    <xs:element name="CarNumber" type="xs:string"/>
                    <xs:element name="CarVIN" type="xs:string" minOccurs="0"/>
                    <xs:element name="CarMileage" type="xs:int" minOccurs="0"/>
                    <xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="SaveNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="PlannedWork" type="xs:string" minOccurs="0"/>
                    <xs:element name="Comment" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StorageInfo">
                <xs:sequence>
                    <xs:element name="ShopName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ShopID" type="xs:string"/>
                    <xs:element name="StorageNumber" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="CreateOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Order" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CancelOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element name="ClientCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CancelOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListOrders">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string"/>
                        <xs:element name="ClientEmail" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListOrdersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:OrderList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataForInvoice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element name="KlientPhone" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataForInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string" nillable="true"/>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                        <xs:element name="KlientPhone" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:OrderData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateTransferOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractNumber" type="xs:string"/>
                        <xs:element name="KlientPhone" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateTransferOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBonusPoints">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBonusPointsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ListOfClientData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCreditLimits">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCreditLimitsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ListOfClientData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnantsGoods">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Region" type="xs:string"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnantsGoodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnantsGoodsB2B">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Region" type="xs:string"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnantsGoodsB2BResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetMutualSettlements">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetMutualSettlementsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateNewOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Order" type="tns:Order"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateNewOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCurrentBalances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CodeGood" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCurrentBalancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:CurrentBalances"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListCancelOrders">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListCancelOrdersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ListCancelOrders"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRemnantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetPrintFormUPD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                        <xs:element name="PrintType" type="xs:byte"/>
                        <xs:element name="OrderNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetPrintFormUPDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOrdersBySearchKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SearchKey" type="xs:byte"/>
                        <xs:element name="SearchValue" type="xs:string"/>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOrdersBySearchKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ListSearchOrdersResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCardBonus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CardNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCardBonusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataOrderTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string" nillable="true"/>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                        <xs:element name="KlientPhone" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataOrderTableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:OrderTable" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CashRegisterManager">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CommandText" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CashRegisterManagerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                        <xs:element name="CommandText" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetVOXstatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element name="Status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetVOXstatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetPrintFormInvoice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                        <xs:element name="PrintType" type="xs:byte"/>
                        <xs:element name="OrderNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetPrintFormInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAssort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAssortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                        <xs:element name="CheckSumm" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServicePointsByRegionalArea">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RegionalArea_Name" type="xs:string"/>
                        <xs:element name="RegionalArea_ID" type="xs:string"/>
                        <xs:element name="FinishDate" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServicePointsByRegionalAreaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfObject"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServicePointsByRegionalArea_v2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RegionalArea_Name" type="xs:string"/>
                        <xs:element name="RegionalArea_ID" type="xs:string"/>
                        <xs:element name="Type_Name" type="xs:string"/>
                        <xs:element name="Type_ID" type="xs:string"/>
                        <xs:element name="FinishDate" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServicePointsByRegionalArea_v2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfObject"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDatesByServicePoint">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shop_Name" type="xs:string"/>
                        <xs:element name="Shop_ID" type="xs:string"/>
                        <xs:element name="FinishDate" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDatesByServicePointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfDate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDatesByServicePoint_v2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shop_Name" type="xs:string"/>
                        <xs:element name="Shop_ID" type="xs:string"/>
                        <xs:element name="Type_Name" type="xs:string"/>
                        <xs:element name="Type_ID" type="xs:string"/>
                        <xs:element name="FinishDate" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDatesByServicePoint_v2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfDate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTimesByServicePoint">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shop_Name" type="xs:string"/>
                        <xs:element name="Shop_ID" type="xs:string"/>
                        <xs:element name="Date" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTimesByServicePointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTimesByServicePoint_v2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shop_Name" type="xs:string"/>
                        <xs:element name="Shop_ID" type="xs:string"/>
                        <xs:element name="Type_Name" type="xs:string"/>
                        <xs:element name="Type_ID" type="xs:string"/>
                        <xs:element name="Date" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTimesByServicePoint_v2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ArrayOfTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ServiceData" type="tns:ServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckOrderVOX">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckOrderVOXResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOrdersByVendor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Vender" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOrdersByVendorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:OrderList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDebtList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDebtListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetClientPassport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element name="Passport" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetClientPassportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetClientPassport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetClientPassportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetStorageInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StorageInfo" type="tns:StorageInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetStorageInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:ResultStorageInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ChangeFormPaymentOrderForCashless">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element name="KlientPhone" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ChangeFormPaymentOrderForCashlessResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="tns:Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCreditLimitsTotal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientCode" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCreditLimitsTotalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="CreateOrderRequestMessage">
        <part name="parameters" element="tns:CreateOrder"/>
    </message>
    <message name="CreateOrderResponseMessage">
        <part name="parameters" element="tns:CreateOrderResponse"/>
    </message>
    <message name="CancelOrderRequestMessage">
        <part name="parameters" element="tns:CancelOrder"/>
    </message>
    <message name="CancelOrderResponseMessage">
        <part name="parameters" element="tns:CancelOrderResponse"/>
    </message>
    <message name="GetListOrdersRequestMessage">
        <part name="parameters" element="tns:GetListOrders"/>
    </message>
    <message name="GetListOrdersResponseMessage">
        <part name="parameters" element="tns:GetListOrdersResponse"/>
    </message>
    <message name="GetDataForInvoiceRequestMessage">
        <part name="parameters" element="tns:GetDataForInvoice"/>
    </message>
    <message name="GetDataForInvoiceResponseMessage">
        <part name="parameters" element="tns:GetDataForInvoiceResponse"/>
    </message>
    <message name="GetDataOrderRequestMessage">
        <part name="parameters" element="tns:GetDataOrder"/>
    </message>
    <message name="GetDataOrderResponseMessage">
        <part name="parameters" element="tns:GetDataOrderResponse"/>
    </message>
    <message name="CreateTransferOrderRequestMessage">
        <part name="parameters" element="tns:CreateTransferOrder"/>
    </message>
    <message name="CreateTransferOrderResponseMessage">
        <part name="parameters" element="tns:CreateTransferOrderResponse"/>
    </message>
    <message name="GetBonusPointsRequestMessage">
        <part name="parameters" element="tns:GetBonusPoints"/>
    </message>
    <message name="GetBonusPointsResponseMessage">
        <part name="parameters" element="tns:GetBonusPointsResponse"/>
    </message>
    <message name="GetCreditLimitsRequestMessage">
        <part name="parameters" element="tns:GetCreditLimits"/>
    </message>
    <message name="GetCreditLimitsResponseMessage">
        <part name="parameters" element="tns:GetCreditLimitsResponse"/>
    </message>
    <message name="GetRemnantsGoodsRequestMessage">
        <part name="parameters" element="tns:GetRemnantsGoods"/>
    </message>
    <message name="GetRemnantsGoodsResponseMessage">
        <part name="parameters" element="tns:GetRemnantsGoodsResponse"/>
    </message>
    <message name="GetRemnantsGoodsB2BRequestMessage">
        <part name="parameters" element="tns:GetRemnantsGoodsB2B"/>
    </message>
    <message name="GetRemnantsGoodsB2BResponseMessage">
        <part name="parameters" element="tns:GetRemnantsGoodsB2BResponse"/>
    </message>
    <message name="GetMutualSettlementsRequestMessage">
        <part name="parameters" element="tns:GetMutualSettlements"/>
    </message>
    <message name="GetMutualSettlementsResponseMessage">
        <part name="parameters" element="tns:GetMutualSettlementsResponse"/>
    </message>
    <message name="CreateNewOrderRequestMessage">
        <part name="parameters" element="tns:CreateNewOrder"/>
    </message>
    <message name="CreateNewOrderResponseMessage">
        <part name="parameters" element="tns:CreateNewOrderResponse"/>
    </message>
    <message name="GetCurrentBalancesRequestMessage">
        <part name="parameters" element="tns:GetCurrentBalances"/>
    </message>
    <message name="GetCurrentBalancesResponseMessage">
        <part name="parameters" element="tns:GetCurrentBalancesResponse"/>
    </message>
    <message name="GetListCancelOrdersRequestMessage">
        <part name="parameters" element="tns:GetListCancelOrders"/>
    </message>
    <message name="GetListCancelOrdersResponseMessage">
        <part name="parameters" element="tns:GetListCancelOrdersResponse"/>
    </message>
    <message name="GetRemnantsRequestMessage">
        <part name="parameters" element="tns:GetRemnants"/>
    </message>
    <message name="GetRemnantsResponseMessage">
        <part name="parameters" element="tns:GetRemnantsResponse"/>
    </message>
    <message name="GetPrintFormUPDRequestMessage">
        <part name="parameters" element="tns:GetPrintFormUPD"/>
    </message>
    <message name="GetPrintFormUPDResponseMessage">
        <part name="parameters" element="tns:GetPrintFormUPDResponse"/>
    </message>
    <message name="GetOrdersBySearchKeyRequestMessage">
        <part name="parameters" element="tns:GetOrdersBySearchKey"/>
    </message>
    <message name="GetOrdersBySearchKeyResponseMessage">
        <part name="parameters" element="tns:GetOrdersBySearchKeyResponse"/>
    </message>
    <message name="GetCardBonusRequestMessage">
        <part name="parameters" element="tns:GetCardBonus"/>
    </message>
    <message name="GetCardBonusResponseMessage">
        <part name="parameters" element="tns:GetCardBonusResponse"/>
    </message>
    <message name="GetDataOrderTableRequestMessage">
        <part name="parameters" element="tns:GetDataOrderTable"/>
    </message>
    <message name="GetDataOrderTableResponseMessage">
        <part name="parameters" element="tns:GetDataOrderTableResponse"/>
    </message>
    <message name="CashRegisterManagerRequestMessage">
        <part name="parameters" element="tns:CashRegisterManager"/>
    </message>
    <message name="CashRegisterManagerResponseMessage">
        <part name="parameters" element="tns:CashRegisterManagerResponse"/>
    </message>
    <message name="SetVOXstatusRequestMessage">
        <part name="parameters" element="tns:SetVOXstatus"/>
    </message>
    <message name="SetVOXstatusResponseMessage">
        <part name="parameters" element="tns:SetVOXstatusResponse"/>
    </message>
    <message name="GetPrintFormInvoiceRequestMessage">
        <part name="parameters" element="tns:GetPrintFormInvoice"/>
    </message>
    <message name="GetPrintFormInvoiceResponseMessage">
        <part name="parameters" element="tns:GetPrintFormInvoiceResponse"/>
    </message>
    <message name="GetAssortRequestMessage">
        <part name="parameters" element="tns:GetAssort"/>
    </message>
    <message name="GetAssortResponseMessage">
        <part name="parameters" element="tns:GetAssortResponse"/>
    </message>
    <message name="GetServicePointsByRegionalAreaRequestMessage">
        <part name="parameters" element="tns:GetServicePointsByRegionalArea"/>
    </message>
    <message name="GetServicePointsByRegionalAreaResponseMessage">
        <part name="parameters" element="tns:GetServicePointsByRegionalAreaResponse"/>
    </message>
    <message name="GetServicePointsByRegionalArea_v2RequestMessage">
        <part name="parameters" element="tns:GetServicePointsByRegionalArea_v2"/>
    </message>
    <message name="GetServicePointsByRegionalArea_v2ResponseMessage">
        <part name="parameters" element="tns:GetServicePointsByRegionalArea_v2Response"/>
    </message>
    <message name="GetDatesByServicePointRequestMessage">
        <part name="parameters" element="tns:GetDatesByServicePoint"/>
    </message>
    <message name="GetDatesByServicePointResponseMessage">
        <part name="parameters" element="tns:GetDatesByServicePointResponse"/>
    </message>
    <message name="GetDatesByServicePoint_v2RequestMessage">
        <part name="parameters" element="tns:GetDatesByServicePoint_v2"/>
    </message>
    <message name="GetDatesByServicePoint_v2ResponseMessage">
        <part name="parameters" element="tns:GetDatesByServicePoint_v2Response"/>
    </message>
    <message name="GetTimesByServicePointRequestMessage">
        <part name="parameters" element="tns:GetTimesByServicePoint"/>
    </message>
    <message name="GetTimesByServicePointResponseMessage">
        <part name="parameters" element="tns:GetTimesByServicePointResponse"/>
    </message>
    <message name="GetTimesByServicePoint_v2RequestMessage">
        <part name="parameters" element="tns:GetTimesByServicePoint_v2"/>
    </message>
    <message name="GetTimesByServicePoint_v2ResponseMessage">
        <part name="parameters" element="tns:GetTimesByServicePoint_v2Response"/>
    </message>
    <message name="SetServiceRequestMessage">
        <part name="parameters" element="tns:SetService"/>
    </message>
    <message name="SetServiceResponseMessage">
        <part name="parameters" element="tns:SetServiceResponse"/>
    </message>
    <message name="CheckOrderVOXRequestMessage">
        <part name="parameters" element="tns:CheckOrderVOX"/>
    </message>
    <message name="CheckOrderVOXResponseMessage">
        <part name="parameters" element="tns:CheckOrderVOXResponse"/>
    </message>
    <message name="GetOrdersByVendorRequestMessage">
        <part name="parameters" element="tns:GetOrdersByVendor"/>
    </message>
    <message name="GetOrdersByVendorResponseMessage">
        <part name="parameters" element="tns:GetOrdersByVendorResponse"/>
    </message>
    <message name="GetDebtListRequestMessage">
        <part name="parameters" element="tns:GetDebtList"/>
    </message>
    <message name="GetDebtListResponseMessage">
        <part name="parameters" element="tns:GetDebtListResponse"/>
    </message>
    <message name="SetClientPassportRequestMessage">
        <part name="parameters" element="tns:SetClientPassport"/>
    </message>
    <message name="SetClientPassportResponseMessage">
        <part name="parameters" element="tns:SetClientPassportResponse"/>
    </message>
    <message name="GetClientPassportRequestMessage">
        <part name="parameters" element="tns:GetClientPassport"/>
    </message>
    <message name="GetClientPassportResponseMessage">
        <part name="parameters" element="tns:GetClientPassportResponse"/>
    </message>
    <message name="GetStorageInfoRequestMessage">
        <part name="parameters" element="tns:GetStorageInfo"/>
    </message>
    <message name="GetStorageInfoResponseMessage">
        <part name="parameters" element="tns:GetStorageInfoResponse"/>
    </message>
    <message name="ChangeFormPaymentOrderForCashlessRequestMessage">
        <part name="parameters" element="tns:ChangeFormPaymentOrderForCashless"/>
    </message>
    <message name="ChangeFormPaymentOrderForCashlessResponseMessage">
        <part name="parameters" element="tns:ChangeFormPaymentOrderForCashlessResponse"/>
    </message>
    <message name="GetCreditLimitsTotalRequestMessage">
        <part name="parameters" element="tns:GetCreditLimitsTotal"/>
    </message>
    <message name="GetCreditLimitsTotalResponseMessage">
        <part name="parameters" element="tns:GetCreditLimitsTotalResponse"/>
    </message>
    <portType name="ExchangeOfSitePortType">
        <operation name="CreateOrder">
            <input message="tns:CreateOrderRequestMessage"/>
            <output message="tns:CreateOrderResponseMessage"/>
        </operation>
        <operation name="CancelOrder">
            <input message="tns:CancelOrderRequestMessage"/>
            <output message="tns:CancelOrderResponseMessage"/>
        </operation>
        <operation name="GetListOrders">
            <input message="tns:GetListOrdersRequestMessage"/>
            <output message="tns:GetListOrdersResponseMessage"/>
        </operation>
        <operation name="GetDataForInvoice">
            <input message="tns:GetDataForInvoiceRequestMessage"/>
            <output message="tns:GetDataForInvoiceResponseMessage"/>
        </operation>
        <operation name="GetDataOrder">
            <input message="tns:GetDataOrderRequestMessage"/>
            <output message="tns:GetDataOrderResponseMessage"/>
        </operation>
        <operation name="CreateTransferOrder">
            <input message="tns:CreateTransferOrderRequestMessage"/>
            <output message="tns:CreateTransferOrderResponseMessage"/>
        </operation>
        <operation name="GetBonusPoints">
            <input message="tns:GetBonusPointsRequestMessage"/>
            <output message="tns:GetBonusPointsResponseMessage"/>
        </operation>
        <operation name="GetCreditLimits">
            <input message="tns:GetCreditLimitsRequestMessage"/>
            <output message="tns:GetCreditLimitsResponseMessage"/>
        </operation>
        <operation name="GetRemnantsGoods">
            <input message="tns:GetRemnantsGoodsRequestMessage"/>
            <output message="tns:GetRemnantsGoodsResponseMessage"/>
        </operation>
        <operation name="GetRemnantsGoodsB2B">
            <input message="tns:GetRemnantsGoodsB2BRequestMessage"/>
            <output message="tns:GetRemnantsGoodsB2BResponseMessage"/>
        </operation>
        <operation name="GetMutualSettlements">
            <input message="tns:GetMutualSettlementsRequestMessage"/>
            <output message="tns:GetMutualSettlementsResponseMessage"/>
        </operation>
        <operation name="CreateNewOrder">
            <input message="tns:CreateNewOrderRequestMessage"/>
            <output message="tns:CreateNewOrderResponseMessage"/>
        </operation>
        <operation name="GetCurrentBalances">
            <input message="tns:GetCurrentBalancesRequestMessage"/>
            <output message="tns:GetCurrentBalancesResponseMessage"/>
        </operation>
        <operation name="GetListCancelOrders">
            <input message="tns:GetListCancelOrdersRequestMessage"/>
            <output message="tns:GetListCancelOrdersResponseMessage"/>
        </operation>
        <operation name="GetRemnants">
            <input message="tns:GetRemnantsRequestMessage"/>
            <output message="tns:GetRemnantsResponseMessage"/>
        </operation>
        <operation name="GetPrintFormUPD">
            <input message="tns:GetPrintFormUPDRequestMessage"/>
            <output message="tns:GetPrintFormUPDResponseMessage"/>
        </operation>
        <operation name="GetOrdersBySearchKey">
            <input message="tns:GetOrdersBySearchKeyRequestMessage"/>
            <output message="tns:GetOrdersBySearchKeyResponseMessage"/>
        </operation>
        <operation name="GetCardBonus">
            <input message="tns:GetCardBonusRequestMessage"/>
            <output message="tns:GetCardBonusResponseMessage"/>
        </operation>
        <operation name="GetDataOrderTable">
            <input message="tns:GetDataOrderTableRequestMessage"/>
            <output message="tns:GetDataOrderTableResponseMessage"/>
        </operation>
        <operation name="CashRegisterManager">
            <input message="tns:CashRegisterManagerRequestMessage"/>
            <output message="tns:CashRegisterManagerResponseMessage"/>
        </operation>
        <operation name="SetVOXstatus">
            <input message="tns:SetVOXstatusRequestMessage"/>
            <output message="tns:SetVOXstatusResponseMessage"/>
        </operation>
        <operation name="GetPrintFormInvoice">
            <input message="tns:GetPrintFormInvoiceRequestMessage"/>
            <output message="tns:GetPrintFormInvoiceResponseMessage"/>
        </operation>
        <operation name="GetAssort">
            <input message="tns:GetAssortRequestMessage"/>
            <output message="tns:GetAssortResponseMessage"/>
        </operation>
        <operation name="GetServicePointsByRegionalArea">
            <input message="tns:GetServicePointsByRegionalAreaRequestMessage"/>
            <output message="tns:GetServicePointsByRegionalAreaResponseMessage"/>
        </operation>
        <operation name="GetServicePointsByRegionalArea_v2">
            <input message="tns:GetServicePointsByRegionalArea_v2RequestMessage"/>
            <output message="tns:GetServicePointsByRegionalArea_v2ResponseMessage"/>
        </operation>
        <operation name="GetDatesByServicePoint">
            <input message="tns:GetDatesByServicePointRequestMessage"/>
            <output message="tns:GetDatesByServicePointResponseMessage"/>
        </operation>
        <operation name="GetDatesByServicePoint_v2">
            <input message="tns:GetDatesByServicePoint_v2RequestMessage"/>
            <output message="tns:GetDatesByServicePoint_v2ResponseMessage"/>
        </operation>
        <operation name="GetTimesByServicePoint">
            <input message="tns:GetTimesByServicePointRequestMessage"/>
            <output message="tns:GetTimesByServicePointResponseMessage"/>
        </operation>
        <operation name="GetTimesByServicePoint_v2">
            <input message="tns:GetTimesByServicePoint_v2RequestMessage"/>
            <output message="tns:GetTimesByServicePoint_v2ResponseMessage"/>
        </operation>
        <operation name="SetService">
            <input message="tns:SetServiceRequestMessage"/>
            <output message="tns:SetServiceResponseMessage"/>
        </operation>
        <operation name="CheckOrderVOX">
            <input message="tns:CheckOrderVOXRequestMessage"/>
            <output message="tns:CheckOrderVOXResponseMessage"/>
        </operation>
        <operation name="GetOrdersByVendor">
            <input message="tns:GetOrdersByVendorRequestMessage"/>
            <output message="tns:GetOrdersByVendorResponseMessage"/>
        </operation>
        <operation name="GetDebtList">
            <input message="tns:GetDebtListRequestMessage"/>
            <output message="tns:GetDebtListResponseMessage"/>
        </operation>
        <operation name="SetClientPassport">
            <input message="tns:SetClientPassportRequestMessage"/>
            <output message="tns:SetClientPassportResponseMessage"/>
        </operation>
        <operation name="GetClientPassport">
            <input message="tns:GetClientPassportRequestMessage"/>
            <output message="tns:GetClientPassportResponseMessage"/>
        </operation>
        <operation name="GetStorageInfo">
            <input message="tns:GetStorageInfoRequestMessage"/>
            <output message="tns:GetStorageInfoResponseMessage"/>
        </operation>
        <operation name="ChangeFormPaymentOrderForCashless">
            <input message="tns:ChangeFormPaymentOrderForCashlessRequestMessage"/>
            <output message="tns:ChangeFormPaymentOrderForCashlessResponseMessage"/>
        </operation>
        <operation name="GetCreditLimitsTotal">
            <input message="tns:GetCreditLimitsTotalRequestMessage"/>
            <output message="tns:GetCreditLimitsTotalResponseMessage"/>
        </operation>
    </portType>
    <binding name="ExchangeOfSiteSoapBinding" type="tns:ExchangeOfSitePortType">
        <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateOrder">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateOrder"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="CancelOrder">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CancelOrder"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetListOrders">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetListOrders"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataForInvoice">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataForInvoice"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataOrder">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataOrder"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateTransferOrder">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateTransferOrder"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetBonusPoints">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetBonusPoints"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCreditLimits">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCreditLimits"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnantsGoods">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnantsGoods"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnantsGoodsB2B">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnantsGoodsB2B"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMutualSettlements">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetMutualSettlements"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateNewOrder">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateNewOrder"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCurrentBalances">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCurrentBalances"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetListCancelOrders">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetListCancelOrders"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnants">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnants"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPrintFormUPD">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetPrintFormUPD"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOrdersBySearchKey">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetOrdersBySearchKey"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCardBonus">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCardBonus"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataOrderTable">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataOrderTable"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="CashRegisterManager">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CashRegisterManager"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetVOXstatus">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetVOXstatus"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPrintFormInvoice">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetPrintFormInvoice"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAssort">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetAssort"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServicePointsByRegionalArea">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetServicePointsByRegionalArea"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServicePointsByRegionalArea_v2">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetServicePointsByRegionalArea_v2"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDatesByServicePoint">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDatesByServicePoint"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDatesByServicePoint_v2">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDatesByServicePoint_v2"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTimesByServicePoint">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetTimesByServicePoint"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTimesByServicePoint_v2">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetTimesByServicePoint_v2"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetService">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetService"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="CheckOrderVOX">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CheckOrderVOX"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOrdersByVendor">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetOrdersByVendor"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDebtList">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDebtList"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetClientPassport">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetClientPassport"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetClientPassport">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetClientPassport"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetStorageInfo">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetStorageInfo"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="ChangeFormPaymentOrderForCashless">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:ChangeFormPaymentOrderForCashless"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCreditLimitsTotal">
            <soapbind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCreditLimitsTotal"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ExchangeOfSiteSoap12Binding" type="tns:ExchangeOfSitePortType">
        <soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateOrder">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateOrder"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="CancelOrder">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CancelOrder"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetListOrders">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetListOrders"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataForInvoice">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataForInvoice"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataOrder">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataOrder"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateTransferOrder">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateTransferOrder"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetBonusPoints">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetBonusPoints"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCreditLimits">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCreditLimits"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnantsGoods">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnantsGoods"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnantsGoodsB2B">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnantsGoodsB2B"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMutualSettlements">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetMutualSettlements"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateNewOrder">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CreateNewOrder"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCurrentBalances">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCurrentBalances"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetListCancelOrders">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetListCancelOrders"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetRemnants">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetRemnants"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPrintFormUPD">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetPrintFormUPD"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOrdersBySearchKey">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetOrdersBySearchKey"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCardBonus">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCardBonus"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDataOrderTable">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDataOrderTable"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="CashRegisterManager">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CashRegisterManager"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetVOXstatus">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetVOXstatus"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPrintFormInvoice">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetPrintFormInvoice"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAssort">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetAssort"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServicePointsByRegionalArea">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetServicePointsByRegionalArea"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServicePointsByRegionalArea_v2">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetServicePointsByRegionalArea_v2"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDatesByServicePoint">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDatesByServicePoint"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDatesByServicePoint_v2">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDatesByServicePoint_v2"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTimesByServicePoint">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetTimesByServicePoint"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTimesByServicePoint_v2">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetTimesByServicePoint_v2"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetService">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetService"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="CheckOrderVOX">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:CheckOrderVOX"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOrdersByVendor">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetOrdersByVendor"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDebtList">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetDebtList"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="SetClientPassport">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:SetClientPassport"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetClientPassport">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetClientPassport"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetStorageInfo">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetStorageInfo"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="ChangeFormPaymentOrderForCashless">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:ChangeFormPaymentOrderForCashless"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCreditLimitsTotal">
            <soap12bind:operation style="document" soapAction="ExchangeOfSite#ExchangeOfSite:GetCreditLimitsTotal"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ExchangeOfSite">
        <port name="ExchangeOfSiteSoap" binding="tns:ExchangeOfSiteSoapBinding">
            <documentation>
                <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
            </documentation>
            <soapbind:address location="http://10.10.1.4/ut/ws/ExchangeOfSite/ExchangeOfSite.1cws"/>
        </port>
        <port name="ExchangeOfSiteSoap12" binding="tns:ExchangeOfSiteSoap12Binding">
            <soap12bind:address location="http://10.10.1.4/ut/ws/ExchangeOfSite/ExchangeOfSite.1cws"/>
        </port>
    </service>
</definitions>